<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.tosin.stardardresouces">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.main.HomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.details.UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>